@model ShopSphere.Web.Models.Product.ShopViewModel

@{
    ViewData["Title"] = "Shop";
    var currentTypeId = ViewBag.CurrentTypeId as int?;
}

<div class="container m-t-100">
    <div class="bread-crumb flex-w p-l-15 p-r-15 p-t-15 p-lr-0-lg">
        <a asp-controller="Home" asp-action="Index" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <span class="stext-109 cl4">Shop</span>
    </div>
</div>

@if (Model.Products.Any())
{
    <div class="bgb m-t-100 p-b-110">
        <div class="container">
            <div class="flex-m flex-sb-m p-b-52">
                <div class="flex-m flex-l-m filter-tope-group m-tb-10">
                    <!-- All Products Filter -->
                    <a href="@Url.Action("Index", "Products", new { TypeId = (int?)null })"
                       class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 @(currentTypeId == null ? "how-active1" : "")">
                        All Products
                    </a>

                    <!-- Category Filters (Displaying Types) -->
                    @foreach (var type in Model.Types)
                    {
                        <a href="@Url.Action("Index", "Products", new { TypeId = type.TypeId })"
                           class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 @(currentTypeId == type.TypeId ? "how-active1" : "")">
                            @type.TypeName
                        </a>
                    }

                </div>
            </div>

            <div class="row isotope-grid">
                @foreach (var product in Model.Products)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item @product.TypeName.ToLower()">
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                                <img src="@Url.Content(product.PictureUrl)" alt="IMG-PRODUCT" style="max-width: 250px; height: 200px;" />

                                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id"
                                   class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                    Quick View
                                </a>
                            </div>

                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l">
                                    <a class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">@product.Name</a>
                                    <span class="stext-105 cl3">$@product.Price</span>
                                </div>

                               


                           



                               



                            </div>
                        </div>
                    </div>
                }
            </div>


          @*   <div class="flex-c-m flex-w w-full p-t-45">
                <button id="loadMoreButton" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                    Load More
                </button>
            </div> *@
        </div>
    </div>
}
else
{
    <div class="mt-5 alert alert-warning">
        <h3>No Products Found</h3>
    </div>
}




   




 
